{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <input type="hidden" value="{{ path }}" name="folderPath">
            {% if path %}
                {% set pathes = path|split('/') %}
                {% set back ='' %}
                {% for pat in pathes %}
                    {% if loop.index0 < (pathes|length -2) %}
                        {% set back = back ~  pat ~ '/' %}
                    {% endif %}
                    {% if loop.last %}
                        {% if pat == "/" %}
                            <a href="{{ path('existing_midas_folders', {'path' : '', 'edit' : 1}) }}"> &larr; </a>
                        {% else %}
                            <a href="{{ path('existing_midas_folders', {'path' : back, 'edit' : 1}) }}"> &larr; </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if files | length > 0 %}
                <table class="table table-hover">
                    <tr class="active">
                        <th>
                            {{ 'Title' | trans({}, 'DatasetsBundle') }}
                        </th>
                    </tr>
                        {% for file in files.list.folderDetailsList %}
                            {% set name = {'name' : file.name, 'path' : file.path, 'page' : page}|json_encode %}
                            <tr>
                                <td>
                                    {% if file.type != "FILE" %}
                                        <input type="radio" {% if name == selected %} checked {% endif %}
                                               value="{{ name }}" name="folder_path">
                                        <a href="{{ path('existing_midas_folders', {'page' : previous, 'path' : file.path, 'edit' : 1}) }}"> {{ file.name }} </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            {% else %}
            {% endif %}
            {% if pageCount > 1 %}
                <div class="center-paginator">
                    <ul class="pagination">
                        {% if previous != 0 %}
                            <li><a href="{{ path('existing_midas_folders', {'page' : previous, 'edit' : 1}) }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="{{ path('existing_midas_folders', {'page' : previous, 'path' : path, 'edit' : 1}) }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in 1..pageCount %}
                            <li {% if i == page %}class="active"{% endif %}><a href="{{ path('existing_midas_folders', {'page' : i, 'path' : path, 'edit' : 1}) }}">{{ i }}</a></li>
                        {% endfor %}

                        {% if next <= pageCount %}
                            <li><a href="{{ path('existing_midas_file', {'page' : next, 'path' : path, 'edit' : 1}) }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="{{ path('existing_midas_folders', {'page' : next, 'path' : path, 'edit' : 1}) }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
<script>
    $("a").on("click", function(ev) {
        if(!$(this).hasClass('fileView')) {
            ev.preventDefault();
            var page_url = $(this).attr("href");
            if (!page_url.match(/.*#.*/g)) {
                $.ajax({
                    url: page_url
                }).done(function (resp) {
                    $('.folderDialog').html(resp);
                });
            }
        }
    });
</script>
{% endblock %}