{% block body %}
    <div class="col-lg-9">
        <form method="POST" class="form-horizontal">
            <input type="hidden" name="params" id="params" value="{{ response }}" />
            <p>{{ 'Specify the parameters of the algorithm' | trans({}, 'ExperimentBundle') }}</p>
            <div class="form-group">
                {{ form_label(form.maxIterations) }}
                <div class="col-md-3">
                    {{ form_widget(form.maxIterations) }}
                </div>
            </div>
            <div class="form-group" style="margin-top:60px">{{ form_errors(form.maxIterations) }}</div>
            <div class="form-group">
                <table border="0" style="width:500px;">
                    <tr>
                        <td></td>
                        <td>{{ form_label(form.firLayer) }}</td>
                        <td>{{ form_label(form.secLayer) }}</td>
                        <td>{{ form_label(form.thrLayer) }}</td>
                    </tr>
                    <tr>
                        <td><span>{{ 'Number of hidden layers' | trans({}, 'ExperimentBundle') }}</span></td>
                        <td><div class="col-sm-9">{{ form_widget(form.firLayer) }}</div></td>
                        <td><div class="col-sm-9">{{ form_widget(form.secLayer) }}</div></td>
                        <td><div class="col-sm-9">{{ form_widget(form.thrLayer) }}</div></td>
                    </tr>
                </table>
                {{ form_errors(form.firLayer) }}
                {{ form_errors(form.secLayer) }}
                {{ form_errors(form.thrLayer) }}
            </div>
            <div class="form-group">
                {{ form_label(form.trainingData) }}
                <div class="col-sm-3">
                    {{ form_widget(form.trainingData) }}
                </div>
                <div class="col-sm-1" style="margin-left:-25px;">%</div>
            </div>
            <div class="form-group" style="margin-top:60px">{{ form_errors(form.trainingData) }}</div>
            <div class="form-group">
                {{ form_label(form.testData) }}
                <div class="col-sm-3">
                    {{ form_widget(form.testData) }}
                </div>
                <div class="col-sm-1" style="margin-left:-25px;">%</div>
            </div>
            <div class="form-group" style="margin-top:60px">{{ form_errors(form.testData) }}</div>
            <div class="form-group">
                {{ form_label(form.validationData) }}
                <div class="col-sm-3">
                    {{ form_widget(form.validationData) }}
                </div>
                <div class="col-sm-1" style="margin-left:-25px;">%</div>

            </div>
            <div class="form-group" style="margin-top:60px">{{ form_errors(form.validationData) }}</div>
            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}