<table class="table table-bordered" style="width:auto; max-width: 380px;">
    <thead>
        <tr class="active">
            <th style="text-align: center; vertical-align: middle;">
                {{ 'Parameter'|trans({}, 'ExperimentBundle') }}
            </th>
            <th style="text-align: center; vertical-align: middle;">
                {{ 'Value'|trans({}, 'ExperimentBundle') }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ 'Errors'|trans({}, 'ExperimentBundle') }}
            </td>
            <td>
                {{ message }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Calculation time'|trans({}, 'ExperimentBundle') }}
            </td>
            <td>
                {{ runtime }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'Result file'|trans({}, 'ExperimentBundle') }}
            </td>
            <td>
                {% if id != null %}
                    <a href="{{ path('convert_arff', {'id' : id}) }}" style="display:block; max-width:250px; overflow : auto;">
                        {{ app.request.getSchemeAndHttpHost() }}{{ file.filePath }}</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<div style="display:none;" class="download-options">
    <div>
        {{ 'Select file type' | trans({}, 'ExperimentBundle')}}:<br />
        <table>
            <tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="arff" checked="checked" />arff</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="txt" />txt</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="tab" />tab</td>
            </tr>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="csv" />csv</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="xls" />xls</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="xls" />xlsx</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        {{ 'Select destination' | trans({}, 'ExperimentBundle')}}:<br />
        <table><tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-destination" value="user-computer" checked="checked" />{{ 'User computer' | trans({}, 'ExperimentBundle')}}</td>
            </tr>
            <tr>
                <td style="padding:5px">
                    <input type="radio" name="file-destination" value="midas" />{{ 'MIDAS' | trans({}, 'ExperimentBundle')}}
                    <span style="display: none;" class="not-implemented helptext">{{ 'This functionality will be negotiated during the 6th activity.' | trans({}, 'ExperimentBundle')}}</span>
                </td>
            </tr>
            </tbody></table>
    </div>
</div>