{% include "BaseMainBundle::messages.html.twig" %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin fos_user_resetting_request" role="form">
    <h2 class="form-signin-heading">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h2>
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
    {% endif %}

    <input type="email" id="username" name="username" required="required" class="form-control" placeholder="Email address" autofocus/>

    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" >{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
