{# templates/bundles/FOSUserBundle/ChangePassword/change_password.html.twig #}

{% extends "@BaseMain/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container">

    {{ form_start(form, {
        'action': path('fos_user_change_password'),
        'attr': {
            'class': 'form-signin fos_user_change_password'
        }
    }) }}

        <h2 class="form-signin-heading">{{ 'change_password.submit'|trans }}</h2>

        {# This is where the success message will appear after redirect #}
        {% include "@BaseUser/messages.html.twig" ignore missing %}

        {{ form_widget(form) }}

        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                {{ 'change_password.submit'|trans }}
            </button>
        </div>

    {{ form_end(form) }}

</div>
{% endblock %}