<ul class="nav navbar-nav">
    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
        <li><a href="{{ path('new_experiment') }}">{{ 'Create experiment' | trans({}, 'ExperimentBundle') }} <span class="glyphicon glyphicon-plus"></span></a></li>
        <li><a href="{{ path('experiments_history') }}">{{ 'Experiments' | trans({}, 'ExperimentBundle') }} <span class="glyphicon glyphicon-list"></span></a></li>
        <li><a href="{{ path('datasets_list') }}">{{ 'Datasets list' | trans({}, 'DatasetsBundle') }} <span class="glyphicon glyphicon-file"></span></a></li>
        {% if is_damis_algorithm_enabled %}
        <li><a href="{{ path('algorithm_list') }}">{{ 'Algorithms list' | trans({}, 'AlgorithmBundle') }} <span class="glyphicon glyphicon-cloud-upload"></span></a></li>
        {% endif %}
    {% else %}
    {% endif %}
</ul>

<ul class="nav navbar-nav navbar-right">

{% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ app.user.publicName }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'profile.title'|trans({}, 'FOSUserBundle') }} <span class="glyphicon glyphicon-wrench"></a></li>
            <li><a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }} <span class="glyphicon glyphicon-wrench"></a></li>
            <li class="divider"></li>
            <li><a href="{{ path('midas_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }} <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    </li>
    {% if app.user and is_granted("ROLE_ADMIN") %}
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('users') }}">{{ 'layout.users'|trans({}, 'FOSUserBundle') }}</a></li>
                <li><a href="{{ path('BCCCronManagerBundle_index') }}">{{ 'cron'|trans({}, 'general') }}</a></li>
                <li><a href="{{ path('page') }}">{{ 'pages'|trans({}, 'general') }}</a></li>
            </ul>
        </li>
    {% endif %}
{% else %}
    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }} <span class="glyphicon glyphicon-log-in"></span></a></li>
    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }} <span class="glyphicon glyphicon-pencil"></span></a></li>
{% endif %}

{{ render(controller('BaseStaticBundle:Page:staticMenu', {groupName : 'help'})) }}

<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ app.request.locale|trans({}, 'general') }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('change_locale_lt') }}">{{ 'lt_LT'|trans({}, 'general') }}</a></li>
        <li><a href="{{ path('change_locale_en') }}">{{ 'en_US'|trans({}, 'general') }}</a></li>
    </ul>
</li>

</ul>


