<div style="width: 614px; margin: auto;">
    <table class="attribute-choices" style="margin: auto;">
        <tbody>
        <td style="padding: 5px;">X:
            <select class="x-attr" style="width: 100px;">
                <option value="-">-</option>
                {% for attr in context.attrs %}
                    {% if attr.0.type == "integer" or attr.0.type == "real"  or attr.0.type == "numeric" %}
                        <option value="{{ loop.index0 }}" {% if loop.index0 == context.x %}selected="selected"{% endif %}>
                            {{ attr.0.name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
        <td style="padding: 5px;">Y:
            <select class="y-attr" style="width: 100px;">
                <option value="-">-</option>
                {% for attr in context.attrs %}
                    {% if attr.0.type == "integer" or attr.0.type == "real" or attr.0.type == "numeric" %}
                        <option value="{{ loop.index0 }}" {% if loop.index0 == context.y %}selected="selected"{% endif %}>
                            {{ attr.0.name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
        <td style="padding: 5px;">{{ 'Class' | trans({}, 'ExperimentBundle')}}:
            <select class="cls-attr" style="width: 100px;">
                <option value="-">-</option>
                {% for attr in context.attrs %}
                    <option value="{{ loop.index0 }}" {% if loop.index0 == context.cls %}selected="selected"{% endif %}>
                        {{ attr.0.name }}
                    </option>
                {% endfor %}
            </select>
        </td>
        </tbody>
    </table>
</div>
{% if not error %}
    <div class="results-container" style="width: 600px; height: 600px; margin: auto;"></div>
    {% if context.float_cls %}
        <table class="float-cls-choices chart-choices" style="margin: auto; text-align: center;width: 600px;">
            <thead>
            <tr>
                <th>{{ 'Color' | trans({}, 'ExperimentBundle')}}</th>
                <th>{{ 'Shape' | trans({}, 'ExperimentBundle')}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div style="width: 250px; margin: auto;">
                        <div class="gradient"></div>

                        <div style="position: relative; height: 17px">
                            <span style="position: absolute; bottom: 0; left: 0">{{ context.minCls }}</span>
                            <span style="position: absolute; bottom: 0; right: 0">{{ context.maxCls }}</span>
                        </div>

                    </div>
                </td>
                <td>
                    <select>
                        <option value="circle">{{ 'Circle' | trans({}, 'ExperimentBundle')}}</option>
                        <option value="square">{{ 'Square' | trans({}, 'ExperimentBundle')}}</option>
                        <option value="diamond">{{ 'Diamond' | trans({}, 'ExperimentBundle')}}</option>
                        <option value="triangle">{{ 'Triangle' | trans({}, 'ExperimentBundle')}}</option>
                        <option value="cross">{{ 'Cross' | trans({}, 'ExperimentBundle')}}</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <table class="render-choices chart-choices" style="margin: auto; text-align: center; width: 600px;">
            <thead>
            <tr>
                <th>{{ 'Class' | trans({}, 'ExperimentBundle')}}</th>
                <th>{{ 'Color' | trans({}, 'ExperimentBundle')}}</th>
                <th class="hide"></th>
                <th>{{ 'Shape' | trans({}, 'ExperimentBundle')}}</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    {% endif %}
{% endif %}
</div>

<div style="display:none;" class="download-options">
    <div>
        {{ 'Select file type' | trans({}, 'ExperimentBundle')}}:<br />
        <table><tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="jpeg" checked="checked" />jpeg</td>
            </tr>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="png" />png</td>
            </tr>
            </tbody></table>
    </div>
    <hr />
    <div>
        {{ 'Select destination' | trans({}, 'ExperimentBundle')}}:<br />
        <table><tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-destination" value="user-computer" checked="checked" />{{ 'User computer' | trans({}, 'ExperimentBundle')}}</td>
            </tr>
            <tr>
                <td style="padding:5px">
                    <input type="radio" name="file-destination" value="midas" />{{ 'MIDAS' | trans({}, 'ExperimentBundle')}}
                    <input type="hidden" name="folderPath" value="" />
                </td>
            </tr>
            </tbody></table>
    </div>
</div>
<script>
    $('input[type=radio][value=midas]').click(function(){

        $('<div class="folderDialog"></div>').dialog({
            "title": Translator.trans("Select destination", {}, 'ExperimentBundle'),
            "minWidth": 450,
            autoOpen: true,
            modal: true,
            "buttons": [{
                "text": Translator.trans("OK", {}, 'ExperimentBundle'),
                "class": "btn btn-primary",
                "click": function(ev) {
                    var path = $('input[type=radio][name="folder_path"]:checked').val(); console.log(path);
                    $('input[name="folderPath"]').val(path);console.log($('input[name="folderPath"]').val());
                    $(this).dialog("destroy");
                }
            },
                {
                    "text": Translator.trans("Cancel", {}, 'ExperimentBundle'),
                    "class": "btn",
                    "click": function(ev) {
                        $(this).dialog("destroy");
                    }
                }]
        });
        var container = $("<div class=\"technical-details-container\"><img width=\"420px\" src=\"/bundles/damisexperiment/images/loading.gif\"/></div>");
        var url = Routing.generate('existing_midas_folders');
        $('.folderDialog').append(container);
        $.ajax({
            url: url,
            context: container
        }).done(function(resp) {
            $('.folderDialog').html(resp);

        });
    });
</script>