<form id="experiment-form" action="{{ path('experiment_save') }}" method="post" autocomplete="off">
        <div id="exec-dialog" style="display:none;">
            <p>{{'Experiment title'| trans({}, 'ExperimentBundle') }}: <br/>
                <input id="id_experiment-title" style="{% if experimentTitle %}display:none;{% endif %}" maxlength="255" name="experiment-title" type="text" value="{{ experimentTitle }}">
                <p id="id_experiment-title-error" style="color:red; display:none;">
                {{ 'Please enter experiment title'|trans({}, 'ExperimentBundle') }}
                </p>
            {% if experimentTitle %}
                <span id="experiment-title">{{ experimentTitle }}</span> <br/>
                <a id="change-title">
                    <button class="btn">
                        <i class="icon-plus"></i>
                        {{ 'Change title' | trans({}, 'ExperimentBundle') }}
                    </button>
                </a>
                </p>
            {% endif %}

            <div id="exec-params">
                <p>{{'Maximum calculation time'| trans({}, 'ExperimentBundle') }}:<br> <input id="id_experiment-max_calc_time" name="experiment-max_calc_time" type="text" value="2:00:00"></p>
                <p id="id_experiment-max_calc_time-error" style="color:red; display:none;">
                    {{ 'Maximum calcutation time should have format (H:m:s)'|trans({}, 'ExperimentBundle') }}
                </p>
                <p>{{ 'Processor number'| trans({}, 'ExperimentBundle') }}:<br> <input id="id_experiment-p" name="experiment-p" required="required" value="1"></p>
                <p id="id_experiment-p-error" style="color:red; display:none;">
                    {{ 'Value should be more than 1'|trans({}, 'ExperimentBundle') }}
                </p>
                <p>{{ 'Primary memory (RAM)'| trans({}, 'ExperimentBundle') }}:<br> <input id="id_experiment-ram" name="experiment-ram" type="text" value="100">&nbsp;MB</p>
                <p id="id_experiment-ram-error" style="color:red; display:none;">
                    {{ 'Value should be more than 1'|trans({}, 'ExperimentBundle') }}
                </p>                
                <p>{{ 'Secondary memory (HDD)'| trans({}, 'ExperimentBundle') }}:<br> <input id="id_experiment-hdd" name="experiment-hdd" type="text" value="10">&nbsp;MB</p>
                <p id="id_experiment-hdd-error" style="color:red; display:none;">
                    {{ 'Value should be more than 1'|trans({}, 'ExperimentBundle') }}
                </p>                
                <p>{{ 'Start experiment from'| trans({}, 'ExperimentBundle') }}:<br> <input id="id_experiment-start" name="experiment-start" type="text" value="{{ "now"|date("Y-m-d H:i") }}"></p>
                <p id="id_experiment-start-error" style="color:red; display:none;">
                    {{ 'Bad data format (Y-m-d H:i)'|trans({}, 'ExperimentBundle') }}
                </p>                
                <input id="id_experiment-workflow_state" name="experiment-workflow_state" type="hidden">
                <input id="id_experiment-skip_validation" name="experiment-skip_validation" type="hidden">
                <input id="id_experiment" name="experiment-id" type="hidden" value="{{ experimentId }}">
                <input id="id_experiment-execute" name="experiment-execute" type="hidden" value="0">
            </div>
    </div>
    <div style="display:none">
    {% for i in 0..taskBoxesCount %}
    <div class="inline task">
        <div style="display:none">
            <p style="display:none">
                <span class='component-id'>
                     <input id="id_tasks-0-component" name="tasks-0-component">
                </span>
            </p>
            <a class="add-row" href="javascript:void(0)">
                <button class="btn">
                    <i class="icon-plus"></i>
                    another
                </button>
            </a>
        </div>
    </div>
    {% endfor %}
        </div>
    <div id="task-forms"></div>
</form>