{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin'}}) }}
    <h1>{{ 'registration.submit'|trans }}</h1>
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
