{% extends 'NaujosKnygosStaticBundle::layout.html.twig' %}

{% block body -%}
    <div id="main_body">
        <div class="main_container">
            <div class="main_container_info main_categories">
                <h1 class="page_title">{{'Static pages' | trans({}, 'ItemBundle') }}</h1>

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage | trans({}, 'ItemBundle')}}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-error">
                        {{ flashMessage | trans({}, 'ItemBundle')}}
                    </div>
                {% endfor %}
                <h2 class="page_title">{{'Top menu pages' | trans({}, 'ItemBundle') }}</h2>
                <table class="list">
                    <thead>
                        <tr>
                            <td class="actions">{{'Place' | trans({}, 'ItemBundle') }}</td>
                            <td>{{'Title' | trans({}, 'ItemBundle') }}</td>
                            <td>{{'Actions' | trans({}, 'ItemBundle') }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if topMenu %}
                            {% for entity in topMenu %}
                                <tr>
                                    <td class="actions">
                                        {% if not loop.first %}
                                            <a class="up" href="{{ path('page_up', { 'id': entity.id }) }}">&#x25B2</a>
                                        {% endif %}
                                        {% if not loop.last %}
                                            <a class="down" href="{{ path('page_down', { 'id': entity.id }) }}">&#x25BC</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <strong><a href="{{ path('page_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></strong>
                                    </td>
                                    <td>
                                        <a href="{{ path('page_edit', { 'id': entity.id }) }}">{{'Edit action' | trans({}, 'ItemBundle') }}</a>
                                        {{ " |" }}
                                        <a href="{{ path('page_show', { 'slug': entity.slug }) }}">{{'View' | trans({}, 'WarehouseBundle') }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">{{'No entries' | trans({}, 'ItemBundle') }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <h2 class="page_title">{{'Other pages' | trans({}, 'ItemBundle') }}</h2>
                <table class="list">
                    <thead>
                    <tr>
                        <td class="actions">{{'Title' | trans({}, 'ItemBundle') }}</td>
                        <td class="actions">{{'Actions' | trans({}, 'ItemBundle') }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entities %}
                        {% for entity in entities %}
                            <tr>
                                <td>
                                    <strong><a href="{{ path('page_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></strong>
                                </td>
                                <td>
                                    <a href="{{ path('page_edit', { 'id': entity.id }) }}">{{'Edit action' | trans({}, 'ItemBundle') }}</a>
                                    {{ " |" }}
                                    <a href="{{ path('page_show', { 'slug': entity.slug }) }}">{{'View' | trans({}, 'WarehouseBundle') }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">{{'No entries' | trans({}, 'ItemBundle') }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div>
                    <ul>
                        <li><a  href="{{ path('page_new') }}">{{'Create' | trans({}, 'ItemBundle') }}</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}