{% extends 'BaseMainBundle::layout.html.twig' %}

{% block body -%}
    {% include "BaseStaticBundle::messages.html.twig" %}

    <form class="form-normal" role="form" action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
        <h1>{{ 'form.create_page'|trans({}, 'StaticBundle') }}</h1>

        {{ form_widget(form._token) }}

        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}

        {{ form_label(form.groupName) }}
        {{ form_errors(form.groupName) }}
        {{ form_widget(form.groupName) }}

        {{ form_label(form.position) }}
        {{ form_errors(form.position) }}
        {{ form_widget(form.position) }}

        {{ form_label(form.language) }}
        {{ form_errors(form.language) }}
        {{ form_widget(form.language) }}

        <div class="tinymce-div">
            {{ form_label(form.text) }}
            {{ form_errors(form.text) }}
            {{ form_widget(form.text) }}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'form.create'|trans({}, 'StaticBundle') }}" >{{ 'form.create'|trans({}, 'StaticBundle') }}</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "BaseMainBundle::jsTinymce.html.twig" %}
    <script src="{{ asset('bundles/basestatic/js/pages.js') }}" type="text/javascript"></script>
{% endblock %}