{% extends "base.html.twig" %}

{% block body %}
    <ul class="nav nav-tabs">
        <li><a href="{{ path('datasets_list') }}">{{ 'Datasets list' | trans({}, 'DatasetsBundle') }}</a></li>
        <li class="active"><a href="#">{{ 'Edit Dataset' | trans({}, 'DatasetsBundle') }}</a></li>
        <li><a href="{{ path('datasets_midas_new') }}">{{ 'Upload file from MIDAS' | trans({}, 'DatasetsBundle') }}</a></li>
    </ul>
    <div class="row">
        <div class="col-lg-4" style="margin-top: 35px;">
          {{ form_start(form, {'action': path('datasets_update', {'id' : form.vars.value.id}), 'method': 'POST', 'attr': {'role': 'form', 'id': 'createDataset'}}) }}
                
                {{ form_row(form.datasetTitle) }}
                {{ form_row(form.datasetDescription) }}
                <button type="submit" class="btn btn-primary">{{ 'Save' | trans({}, 'DatasetsBundle') }}</button>
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}