{% extends "::base.html.twig" %}
{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('datasets_list') }}">{{ 'Datasets list' | trans({}, 'DatasetsBundle') }}</a></li>
        <li><a href="{{ path('datasets_new') }}">{{ 'Upload file from computer' | trans({}, 'DatasetsBundle') }}</a></li>
        <li><a href="{{ path('datasets_midas_new') }}">{{ 'Upload file from MIDAS' | trans({}, 'DatasetsBundle') }}</a></li>
    </ul>
    {% include "DamisDatasetsBundle::messages.html.twig" %}
    <div class="row" style="margin-top: 35px;">
        <div class="col-lg-12">
            {% if entities | length > 0 %}
                <a data-toggle="modal" data-target="#confirmDelete" id="delete-button" class="btn btn-small btn-default datasets-btn" style="margin-bottom:10px;" title="{{ 'Delete' | trans({}, 'DatasetsBundle') }}" href="#">
                    <i class=" glyphicon glyphicon-trash"></i>
                </a>
                <table class="table table-hover">
                    <tr class="active">
                        <th>
                            <input id="select-all" type="checkbox">
                        </th>
                        <th>
                            {{ 'Title' | trans({}, 'DatasetsBundle') }}
                            <a href="{{ path('datasets_list', {'order_by' : 'titleASC'}) }}"><i class="glyphicon glyphicon-chevron-up datasets-sort"></i></a>
                            <a href="{{ path('datasets_list', {'order_by' : 'titleDESC'}) }}"><i class="glyphicon glyphicon-chevron-down datasets-sort"></i></a>
                        </th>
                        <th>
                            {{ 'Size' | trans({}, 'DatasetsBundle') }}
                        </th>
                        <th>
                            {{ 'Created' | trans({}, 'DatasetsBundle') }}
                            <a href="{{ path('datasets_list', {'order_by' : 'createdASC'}) }}"><i class="glyphicon glyphicon-chevron-up datasets-sort"></i></a>
                            <a href="{{ path('datasets_list', {'order_by' : 'createdDESC'}) }}"><i class="glyphicon glyphicon-chevron-down datasets-sort"></i></a>
                        </th>
                        <th>
                            {{ 'Description' | trans({}, 'DatasetsBundle') }}
                        </th>
                        <th>
                            {{ 'Actions' | trans({}, 'DatasetsBundle') }}
                        </th>
                        <th>
                            {{ 'Download' | trans({}, 'DatasetsBundle') }}
                        </th>
                    </tr>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <input type="checkbox" name="dataset" value="{{ entity.datasetId }}">
                            </td>
                            <td>
                                <a href="{{ path('datasets_edit',{'id' : entity.datasetId}) }}">
                                    {{ entity.datasetTitle }}
                                </a>
                            </td>
                            <td nowrap="nowrap">
                                {{ entity.file.size|convert_bytes }}
                            </td>
                            <td nowrap="nowrap">
                                {{ entity.datasetCreated | date('Y-m-d')}}
                            </td>
                            <td>
                                {{ entity.datasetDescription }}
                            </td>
                            <td>
                                <a class="btn btn-small btn-default datasets-btn" title="{{ 'Edit' | trans({}, 'DatasetsBundle') }}" href="{{ path('datasets_edit',{'id' : entity.datasetId}) }}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                            <td nowrap="nowrap">
                                <a class="btn btn-small btn-default datasets-btn" title="{{ 'Download CSV file' | trans({}, 'DatasetsBundle') }}" href="{{ path('convert_csv', {'id' : entity.datasetId}) }}">
                                    CSV
                                </a>
                                <a class="btn btn-small btn-default datasets-btn" title="{{ 'Download ARFF file' | trans({}, 'DatasetsBundle') }}" href="{{ path('convert_arff', {'id' : entity.datasetId}) }}">
                                    ARFF
                                </a>
                                <a class="btn btn-small btn-default datasets-btn" title="{{ 'Download TXT file' | trans({}, 'DatasetsBundle') }}" href="{{ path('convert_txt', {'id' : entity.datasetId}) }}">
                                    TXT
                                </a>
                                <a class="btn btn-small btn-default datasets-btn" title="{{ 'Download TAB file' | trans({}, 'DatasetsBundle') }}" href="{{ path('convert_tab', {'id' : entity.datasetId}) }}">
                                    TAB
                                </a>
                                <a class="btn btn-small btn-default datasets-btn" title="{{ 'Download XLSX file' | trans({}, 'DatasetsBundle') }}" href="{{ path('convert_xls', {'id' : entity.datasetId}) }}">
                                    XLSX
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table>
                    <tr>
                        <td>{{ 'There is no existing file in your dataset.' | trans({}, 'DatasetsBundle') }}</td>
                    </tr>
                </table>                
            {% endif %}
        </div>
    </div>

    <div class="center-paginator">
        {{ knp_pagination_render(entities) }}
    </div>

    <form id="file-delete" style="display:none;" action="{{ path('datasets_delete') }}" method="post">
        <input id="file-delete-list" name="file-delete-list" type="text" value="">
    </form>

    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'Delete?'|trans({}, 'ExperimentBundle') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'These items will be permanently deleted and cannot be recovered. Are you sure?'|trans({}, 'ExperimentBundle') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        {{ 'Cancel'|trans({}, 'ExperimentBundle') }}</button>
                    <button type="button" class="btn btn-default" id="confirm">
                        {{ 'OK'|trans({}, 'ExperimentBundle') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#select-all').click(function (event) {

            var selected = this.checked;
            $(':checkbox').each(function () {
                this.checked = selected;
            });

        });
        $('#delete-button').click(function(event){
            if($('input:checkbox[name=dataset]:checked').length == 0)
                return false;
            event.preventDefault();
            var ids = [];
            $('input:checkbox[name=dataset]:checked').each(function(key, box){
                ids.push(box.value);
            });
            $('#file-delete-list').val(JSON.stringify(ids));

            $('#confirmDelete').find('.modal-footer #confirm').on('click', function(){
                 $('#file-delete').submit();
            });

        });
    </script>
{% endblock %}