{% extends "base.html.twig" %}
{% block body %}
    <ul class="nav nav-tabs">
        <li><a href="{{ path('datasets_list') }}">{{ 'Datasets list' | trans({}, 'DatasetsBundle') }}</a></li>
        <li class="active"><a href="{{ path('datasets_new') }}">{{ 'Upload file from computer' | trans({}, 'DatasetsBundle') }}</a></li>
        <li><a href="{{ path('datasets_midas_new') }}">{{ 'Upload file from MIDAS' | trans({}, 'DatasetsBundle') }}</a></li>
    </ul>
    {% include "@DamisDatasets/messages.html.twig" %}
    <div class="row">
        <div class="col-lg-4" style="margin-top: 35px;">
            {{ form_start(form, {'action': path('datasets_create'), 'attr': {'role': 'form', 'id': 'createDataset'}}) }}
                <div class="form-group">
                    {{ form_label(form.datasetTitle) }}
                    {{ form_widget(form.datasetTitle) }}
                    {{ form_errors(form.datasetTitle) }}
                </div>
                <div class="form-group">

                    {{ form_label(form.file) }}
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-group">
                            <div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i>
                                <span class="fileupload-preview"></span>
                            </div>
                            <div class="input-group-btn">
                                <a class="btn btn-primary btn-file">
                                    <span class="fileupload-new">{{ 'Select file' | trans({}, 'DatasetsBundle') }}</span>
                                    <span class="fileupload-exists">{{ 'Change' | trans({}, 'DatasetsBundle') }}</span>
                                    {{ form_widget(form.file) }}</a>
                                <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">{{ 'Remove' | trans({}, 'DatasetsBundle') }}</a>
                            </div>
                        </div>
                    </div>
                    {{ form_errors(form.file) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.datasetDescription) }}
                    {{ form_widget(form.datasetDescription) }}
                    {{ form_errors(form.datasetDescription) }}
                </div>
                <button type="submit" class="btn btn-primary">{{ 'Upload dataset' | trans({}, 'DatasetsBundle') }}</button>
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}