{% extends "@BaseUser/layout.html.twig" %}

{% block body -%}
    {% include "@BaseUser/messages.html.twig" %}

    {{ form_start(edit_form, {'attr': {'class': 'form-signin fos_user_profile_edit', 'role': 'form'}}) }}
        <h1>{{ 'admin.edit_user'|trans({}, 'FOSUserBundle') }}</h1>

        {{ form_errors(edit_form) }}

        {{ form_errors(edit_form.username) }}
        {{ form_widget(edit_form.username) }}

        {{ form_errors(edit_form.email) }}
        {{ form_widget(edit_form.email) }}

        {{ form_errors(edit_form.name) }}
        {{ form_widget(edit_form.name) }}

        {{ form_errors(edit_form.surname) }}
        {{ form_widget(edit_form.surname) }}

        {{ form_errors(edit_form.organisation) }}
        {{ form_widget(edit_form.organisation) }}

        {% for child in edit_form.roles %}
            <div class="checkbox">
                {{ form_errors(child) }}
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </div>
        {% endfor %}

        <div class="checkbox">
            {{ form_errors(edit_form.locked) }}
            {{ form_widget(edit_form.locked) }}
            {{ form_label(edit_form.locked) }}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    {{ form_end(edit_form) }}
{% endblock %}