{% include "BaseMainBundle::messages.html.twig" %}

<form class="form-signin fos_user_change_password" role="form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="post">
    <h2 class="form-signin-heading">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</h2>
    {{ form_widget(form._token) }}

    {{ form_errors(form.current_password) }}
    {{ form_widget(form.current_password) }}

    {{ form_errors(form.new.first) }}
    {{ form_widget(form.new.first) }}

    {{ form_errors(form.new.second) }}
    {{ form_widget(form.new.second) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" >{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>